================================================================================
[`strftime("%Y/%m/%d")` `strftime("%H:%M")` Check-in by Freeman Fang, Reviewed by ${1:Reviewer}, Review Time: ${2:Review time} minutes]
--------------------------------------------------------------------------------
1. Bug fixed for '${3:abstract}'

[Modified Files]:
        ${4:Modify file list}
