/**************************************************************************/
/*! \fn ${1:Function Name}
 **************************************************************************
 *  \brief ${2:Description}
 *  \param[in] - ${3:Input}
 *  \return STATUS_OK or error
 **************************************************************************/
