# Generate the configuration file 
EXTRACT_ALL = yes
EXTRACT_PRIVATE = yes
EXTRACT_STATIC = yes
FILE_PATTERNS =
RECURSIVE = yes

# Generating graphs and diagrams
CLASS_DIAGRAMS = yes
HAVE_DOT = yes
CLASS_GRAPH = yes
COLLABORATION_GRAPH = yes
